<h1>Jess and Tina's Weekday Game!</h1>

<img src='http://paperzip.co.uk/wp-content/uploads/2012/10/days-week-banner.jpg'>

<form action='/weekdays'>
  <div class="form-group">
    <label for="User1">Enter a date. Find out what day it was on!</label>
    <input id="User1" name="User1" class="form-control" type="text">
  </div>



  <button type="submit" class="btn">Go!</button>
</form>
